.spectators-welcome {
  background: url("./GroupWelcome.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.spectators-welcome__text{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  margin-left: 10%;
  text-transform: uppercase;
}
